@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.content{
    background-color: gainsboro;
    height: 145vh;
}

.containerFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    height: 380px;
    background-color: snow;
    border-radius: 5%;
}

.name{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(29, 185, 246);
    text-align: center;
}

.info{
    text-align: center;
    font-size: 15px;
}

.heart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition-duration: 0.4s;;
    margin-left: 250px;
    padding: 8px;
    border: 1px solid rgb(168, 164, 164);
}

.location {
    width: 15px;
    height: 15px;
}

.mail {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 4px;
}

.clock {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.heart:hover {
    cursor: pointer;
    background-color: rgb(243, 67, 67);
    color: white;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
}

.bottomInfo {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
}

.containerPages {
    display: flex;
    flex-direction: column;
}

.pgNum{
    display: flex;
    justify-content: center;
}

.preNex{
    background-color: gainsboro;
    border: none;
}

.sortStyle {
    font-size: 12px;
}

label {
    font-size: 14px;
    margin-left: 1200px;
    margin-top: 50px;
}

button{
    border-radius: 5%;
    border:1px solid rgb(13, 169, 241);
    padding: 8px;
    margin-left: 2px;
    transition-duration: 0.4s;;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(13, 169, 241);
}